.recipe__td__field {
  width: 85px;
  min-width: 85px;
  padding: 4px;
  table-layout: fixed;
}

.recipe__td__space {
  width: 15px;
  min-width: 15px;
  padding-left: 8px;
  padding-right: 8px;
  table-layout: fixed;
}

.recipe__td__button {
  width: 20px;
  min-width: 20px;
  table-layout: fixed;
}

.recipe__label {
  margin-left: 8px;
  margin-bottom: 4px;
}

.recipe__td__prism__axis {
  width: 95px;
  min-width: 95px;
  padding: 4px;
  table-layout: fixed;
}
