header .form-control {
  width: 200px;
}
header .form-group {
  margin-top: 0;
  margin-bottom: 0;
}
header .avatar {
  width: 35px;
  height: 35px;
  border-radius: 70px;
  background: rgb(185, 202, 41);
  color: rgb(15, 92, 169);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: bold;
  margin-right: 10px;
}
